@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Slabo+27px&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gradient-dark: radial-gradient(at 56% 69%, #030637 0px, transparent 50%),
    radial-gradient(at 10% 26%, #3c0753 0px, transparent 50%),
    radial-gradient(at 18% 11%, #720455 0px, transparent 50%),
    radial-gradient(at 46% 92%, #910a67 0px, transparent 50%), #030637;

  --color-background: #faf8f3; /* white */
  --color-foreground: #0f172a; /* slate-900 */

  --color-primary: #9966FF; /* blue-600 */
  --color-primary-foreground: #f8fafc; /* near-white */

  --color-secondary: #f1f5f9; /* slate-100 */
  --color-secondary-foreground: #0f172a; /* slate-900 */

  --color-muted: #f1f5f9; /* slate-100 */
  --color-muted-foreground: #64748b; /* slate-500 */

  --color-destructive: #7f1d1d; /* red-500 */
  --color-destructive-foreground: #f8fafc; /* near-white */

  --color-border: #e2e8f0; /* slate-200 */
  --color-input: #e2e8f0; /* slate-200 */
  --color-ring: #020617; /* slate-950 */

  --color-accent: #059669; /* emerald-600 */
  --color-accent-foreground: #f8fafc; /* near-white */

  --color-bright: #facc15; /* yellow-400 */
  --color-bright-foreground: #0f172a; /* slate-900 */
}

.dark {
  --bg-gradient-dark: radial-gradient(at 56% 69%, #030637 0px, transparent 50%),
    radial-gradient(at 10% 26%, #3c0753 0px, transparent 50%),
    radial-gradient(at 18% 11%, #720455 0px, transparent 50%),
    radial-gradient(at 46% 92%, #910a67 0px, transparent 50%), #030637;
  --color-background: #0e0e0e; /* slate-900 */
  --color-foreground: #f8fafc; /* near-white */

  --color-primary: #8f49ff; /* blue-500 (lighter in dark mode) */
  --color-primary-foreground: #0f172a; /* slate-900 */

  --color-secondary: #1e293b; /* slate-800 */
  --color-secondary-foreground: #f8fafc; /* near-white */

  --color-muted: #1e293b; /* slate-800 */
  --color-muted-foreground: #94a3b8; /* slate-400 */

  --color-destructive: #ff0000; /* red-800 (darker red) */
  --color-destructive-foreground: #f8fafc; /* near-white */

  --color-border: #1e293b; /* slate-800 */
  --color-input: #1e293b; /* slate-800 */
  --color-ring: #cbd5e1; /* slate-300 */

  --color-accent: #10b981; /* emerald-500 */
  --color-accent-foreground: #0f172a; /* slate-900 */

  --color-bright: #fcd928; /* yellow-300, brighter pop */
  --color-bright-foreground: #0f172a; /* slate-900 */
}

@layer base {
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: var(--color-foreground) !important;
    box-shadow: 0 0 0px 1000px var(--color-background) inset !important;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

body {
  background: var(--color-background);
  background-image: var(--bg-gradient-dark);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--color-foreground);
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-foreground);
  font-family: "Slabo", "IBM Plex Sans", sans-serif;
}

input {
  background: var(--color-background);
  color: var(--color-foreground);
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
